********************************************************************************************
*                                                                                          *
* DRILL TAPE SUMMARY REPORT                                                                *
*                                                                                          *
* D:\UTENTI\00.CAD\00.PROGETTI\METALTRONICA\22-303-0 (CONTROLLO COLLIMATORE)\22-303-0.MAX  *
* Sun Apr 09 12:29:45 2023                                                                 *
*                                                                                          *
********************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       79       530      200      100                                                                                 
T2       354      33       200      100                                                                                 
T3       433      13       200      100                                                                                 
T4       472      2        200      100                                                                                 
T5       512      6        200      100                                                                                 
T6       1260     5        200      100                                                                                 
