********************************************************************
*                                                                  *
* DRILL TAPE SUMMARY REPORT                                        *
*                                                                  *
* D:\UTENTI\00.LAVORI IN CORSO\METALTRONICA\22-303-0\22-303-0.MAX  *
* Tue Oct 08 21:54:14 2024                                         *
*                                                                  *
********************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       79       1060     200      100                                                                                 
T2       315      10       200      100                                                                                 
T3       394      5        200      100                                                                                 
T4       433      33       200      100                                                                                 
T5       472      8        200      100                                                                                 
T6       512      1        200      100                                                                                 
T7       551      5        200      100                                                                                 
T8       630      2        200      100                                                                                 
T9       1181     4        200      100                                                                                 
